<div class="footer">
  <div class="footer-inner">
    <%= link_to image_tag("logo(3).png", class: "footer-logo" ), root_path %>
    <div class="copyright">
      &copy; 2020 My-review All Rights Reserved.
    </div>
  </div>
</div>