@import "reset";
@import "config/colors";

.header {
  box-sizing: border-box;
  width: 100%;
  background-color: $base-color;
  .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1024px;
    height: 60px;
    padding: 0 0.8em;
    margin: 0 auto;
    font-size: 1.2em;
    .header-logo {
      width: 100px;
    }
    .header-nav {
      display: flex;
      align-items: center;
      .header-nav-item {
        display: flex;
        align-items: center;
        margin-left: 16px;
        .header-button {
          box-sizing: border-box;
          display: inline-block;
          padding: 0.5em 1.2em;
          font-size: 12px;
          text-decoration: none;
          cursor: pointer;
          user-select: none;
        }
        .header-mypage {
          font-weight: bold;
          color: #fff;
          background: $main-color;
          border: 1px $main-color solid;
          border-radius: 3px;
        }
        .header-login, .header-logout, .header-signup {
          color: #999;
          // text-decoration: none;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .header-mypage {
    display: none;
  }
}

.footer {
  width: 100%;
  background-color: $main-color;
  display: flex;
  justify-content: center;
  margin: 10px 0;
  padding: 10px 0;
  .footer-inner {
    display: flex;
    flex-direction: column;
    .footer-logo {
      width: 200px;
      display: block;
      margin: 10px auto;
    }
    .copyright {
      font-size: 15px;
      color: $base-color;
    }
  }
}
